{% extends 'users/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Список пользователей</h1>
</div>
<div class="card mb-4 box-shadow">
    {% for user in users %}
    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ user.username }}</h5>
                <p class="card-text">{{ user.email }}</p>
                <form method="post" action="{% url 'users:block_user' user.pk %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Блокировать</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}